@charset "UTF-8";
/* CSS Document */

/*common*/

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
html {
	font-size: 62.5%;
}
body{
	line-height: initial;
}
.wrap{
	width: 94%;
	margin: 0 auto;
	max-width: 1200px;
}
/*header*/

header{
	background-color: #fff;
	padding: 1em 0;
}
header a{
	text-decoration: none;
}

.head-left{
	float: left;
}
  .head-left a {
	font-family: 'Cabin Sketch', cursive;
	color: #e24e42;
	margin-bottom: 0;
	font-size: 4rem;
	font-weight: bold;
}
.head-right{
	float: right;
}

.head-right a{
	float: left;
	display: block;
}
.lang{
	color: #e24e42;
	border-radius: 3px;
  background-color: #fff;
	padding: 2px 10px;
	margin: 10px 5px 0;
	border: 1px solid #e24e42;
}
.lang i{
	font-size: 1.4rem;
	margin-right: 5px;
}
.lang:hover{
  background-color: #e24e42;
	color: #fff;
}
.lang:hover i{
	color: #fff;
}
.head-right .fa-github{
	font-size: 4rem;
	color:  #e24e42;
	vertical-align: middle;
	margin-left: 10px;
}
.head-right .fa-github:hover{
	color: #42d6e2;
}
/*nav*/

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
.is-fixed-b {
  position: fixed;
}
nav{
  background-color: #e24e42;
  height: 3.4rem;
}

nav ul li{
  float: left;
  width: 33.3333%;
  text-align: center;
}
nav ul li:first-of-type a{
  border-left: 1px solid #fff;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  height: 3.4rem;
  padding: 8px 0 0;
  border-right: 1px solid #fff;
  border-top: 1px solid #e24e42;
  border-bottom: 1px solid #e24e42;

}
nav ul li a:hover{
  background-color: #fff;
  color: #e24e42;
  border-right: 1px solid #e24e42;
}
nav ul li:first-of-type a:hover{
  border-left: 1px solid #e24e42;
}
.sp-only{
  display: none;
}
/*main*/

/* .main-img{
	background: url(../img/main01.jpg) no-repeat;
	background-size: cover;
	height: 300px;
	padding: 20px 0;
  position: relative;
  margin-top: 36px;
} */
.swiper-slide img{
	/* height: 300px; */
	/* padding: 20px 0; */
  position: absolute;
  top: 0;
}
.swiper-slide p,
  .swiper-slide h1{
	margin-top: 50px;
	font-family: 'Cabin Sketch', cursive;
	color: #fff;
	font-size: 3rem;
	position: absolute;
	bottom: 10px;
  line-height: 4rem;
  text-align: left;
  left: calc(3% + 10px);
}
/*news*/
.ticker {
    margin: 20px auto 0;
    /* padding: 10px; */
    width: 100%;
    text-align: center;
    /* border: #ccc 1px solid; */
    position: relative;
    overflow: hidden;
    height: 4rem;
    background-color: rgba(226,78,66,.8);
    color: #fff;
    border-radius: 15px;
}

.ticker ul {
    width: 100%;
    position: relative;
}

.ticker ul li {
    width: 100%;
    display: none;
    text-align: left;
}
/*content*/
.content{
	margin: 40px 0 60px;
	text-align: center;
  /* padding-top: 90px;
  margin-top: -50px; */
}

.normal-heading{
	color: #e24e42;
  	/* font-family: 'Cabin Sketch', cursive; */
	text-align: center;
  position: relative;
  font-size: 30px;
  letter-spacing: 2px;
}
.normal-heading span {
  z-index: 2;
  display: inline-block;
  margin: 0 2.5em;
  padding: 0 1em;
  background-color: #fff;
  text-align: left;
  position: relative;
}
.normal-heading::before {
  position: absolute;
  top: 50%;
  /* z-index: 1; */
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.content .col{
	border: 1px solid rgba(226,78,66,0.6);
}

.content .col h3{
	background-color: rgba(226,78,66,0.6);
	color: #fff;
	padding: 2px;
}
.i-box{
  height: 6rem;
}

.i-box i.fas{
  font-size: 5rem;
  margin-bottom: 1rem;
  color: rgba(226,78,66,0.9);
  margin-left: 1.5rem;
}
.i-box i.fab{
  font-size: 5.7rem;
  color: rgba(226,78,66,0.9);
}
.content .col .p-box{
  display: inline-block;
}
  .content .col p{
	padding: 2px 10px;
  font-size: 1.4rem;
}
#works .col{
/* height: 200px;*/
 border: #f2f2f2 1px solid;
}
#works .col a{
/*  height: 200px;*/
  width: 100%;
  display: block;
}
.p-box{
  display: inline-block;
}
#career p{
  text-align: left;
  border-left: 5px solid rgba(226,78,66,0.9);
  padding-left: 10px;
  width: 100%;
  max-width: 560px;
  margin: 0 auto 16px;
}
/*bnr*/

#works .col{
/*  margin-bottom: 20px;*/
/*  line-height: 70px;*/
  border: none;
}
#works .col a{
  width: 100%;
  display: block;
}
#works .col a:hover{
  opacity: .6;
}
/*footer*/

footer{
	color: #e24e42;
	text-align: center;
	font-size: 1.2rem;
	margin-top: 50px;
	padding: 10px 0;
}
#page-top {
  position: fixed;
  bottom: 20px;
  right: 1%;
  border-radius: 30px;
  background-color: #fff;
}



#page-top i {
  padding-top: 6px;
  display: block;
}



#page-top a {
  display: block;
  z-index: 999;
  padding: 10px 0 0 0;
  border-radius: 30px;
  width: 54px;
  height: 54px;
  background-color: rgba(226,78,66,0.9);
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 1px solid rgba(226,78,66,0.9);
}



#page-top a:hover {
  color: rgba(226,78,66,0.9);
  background-color: #fff;
}
@media (max-width: 767px) {

  header {
    padding: .6em 0;
}

  .head-right {
      margin-right: 47px;
    }
nav ul li{
  width: 100%;
}
nav ul li:first-of-type a{
  border-left: none;
}
nav ul li a{
  border-right: none;
  border-top: none;
  border-bottom: none;
}
nav ul li a:hover{
  border-bottom: none;
  border-top: none;
}
.head-right .fa-github {
    font-size: 3rem;
    margin-top: 8px;
}
.sp-only{
  display: block;
}

.head-right a.pc-only{
  display: none;
}
.lang{
      margin: 12px 0 0;
}
.fa-github{
  font-size: 4.2rem;
}
a:hover .fa-github{
  color: #fff;
  opacity: .6;
}
.cp_offcm03 a.sp-only{
  padding: 0 0 10px;
  width: 70px;
  margin: 0 auto;
}
/*
	header .head-left{
		float: none;
		display: block;
		margin-bottom: 10px;
	}
*/
	.normal-heading span{
		margin: 0;
	}
  .main-img{
    margin-top: 0;
  }
  #works .col-4{
    width: calc(50% - 2%);
    margin-left: 2%;
}
#works .row.gutters{
  margin-left: -2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
}
@media (max-width: 374px) {
.head-right a{
	font-size: 1.3rem;
	}
}